#navbarontop {
    padding-left:0px !important;
}
button.myEventLink{
    margin-left: 5px !important;
}
.user_header_form {
    padding-top: 12px;
}

.transparent-header {
    position: absolute;
    z-index: 2;
}

.header-logo {
    font-size: 36px;
    margin-top: 15px;
}

.header-link:hover, .header-link:focus {
    text-decoration: none;
}

.header-logo--white {
    text-shadow: 1px 1px black;
    color: white;
}

.header-logo--black {
    font-size: 30px;
    margin-top: 20px;
    color: black;
    text-shadow: none;
}

.myEventLink {
    color: white !important;
    text-shadow: 1px 2px black;
}

.myEventLink--white:hover {
    border-bottom: 2px solid white !important;
}

.myEventLink--black {
    color: black !important;
    text-shadow: none;
}

.input-group-btn {
    width: 40px !important;
}

@media (min-width: 768px) {
    .navbar-form .form-control {
        width: 100%;
    }
}

.header__searchInput {
    width: 100%;
}

@media (min-width: 768px) {
    .header__searchInput {
        width: 65%;
    }
    .header__cityDropdown {
        width: 30%;
        max-width: 100px;
    }
}