.txthover .txtcontent{
    opacity: 1;
}

.txthover .stars{
    font-size: 13.6px;
    color: #e7e7e7;
}

.allcontain {
    position: relative;
}

.intro-buttons {
    position: absolute;
    z-index: 2;
    top: 40%;
    left:0;
    text-align: center;
    width: 100%;
}

.intro-header {
    font-size: 52px;
    color: white;
    text-shadow: 1px 1px black;
}

.intro-buttons a {
    font-size: 22px;
    letter-spacing: 1px;
    background: none;
    border: 2px solid #fff;
    font-family: "OpenSans-Light";
    color: #fff;
    padding: 8px 50px;
    text-shadow: 1px 1px black;

}

.intro-buttons a:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .2s ease-in;
    text-decoration: none;
    text-shadow: none;
}

.video {
    width: 100%;
}

video {
    width: 100%;
    min-width: 600px;
    height: 100vh;
    object-fit: initial;
    height: calc(100vh - 140px);
}
.video-fallback {
    width: 100%;
    height: calc(100vh - 140px);
}
.yellow-btn{
    background: rgba(248,199,45,.8)
}

.event-form{
    margin-top: 15px;
    margin-bottom: 15px;
}
.glyphicon {
    margin-bottom: 0px;
    top:0;
}

small {
    display: block;
    line-height: 1.428571429;
    color: #999;
}
.padding15{
    padding: 0 15px;
}
.clear{
    clear:both;
}
.top15{
    margin-top: 15px;
}

@media screen and (max-width: 585px) {
    .intro-header {
        font-size: 30px;
    }

    .intro-buttons a {
        font-size: 12px;
        padding: 7px 35px;
    }
}

.txtcontent {
    box-sizing: border-box;
    border: 2px solid whitesmoke;
}
