<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "My project" }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {#<link rel="icon" type="image/x-icon" href="{{ asset("images/favicon.ico")}}">#}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
    {% endblock %}

    {% block canonical_meta %}{% endblock %}
</head>

<body>
    {% block userForm %}
    {% endblock %}
    {% block body %}
    {% endblock %}


{% block javascripts %}
    <script src="{{ asset("js/script.js") }}"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
</body>
</html>
