{% extends "::basic_layout.html.twig" %}

{% block header %}
    {% include("inc/header.html.twig") %}
{% endblock %}

{% block content %}
    {% include "inc/carousel.html.twig" %}
    <div id="intro-newest">
            <div class="feturedsection">
                <h1 class="text-center"><span class="bdots">•</span>{{ 'user.newest'|trans }}<span class="carstxt">{{ 'user.practice'|trans }}</span>•</h1>
            </div>
        {{ include('AppBundle:SportEvent:main_list.html.twig') }}
    </div>
{% endblock %}

{% block footer %}
    {% include "inc/footer.html.twig" %}
{% endblock %}
