<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <h1 class="demo-card__h1">Login</h1>
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample1">
            <label class="mdl-textfield__label" for="sample1">Username</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample1">
            <label class="mdl-textfield__label" for="sample1">Password</label>
        </div>
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Log in
        </button>

        <p>
            <a class="demo-card__flipFormBtn" href=""></a>
        </p>
    </form>
</div>
