<!-- Modal -->
<div class="modal fade modal--centered in" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog--medium" role="document">
        <div class="modal-content modal-content--noBorder ">
            <div class="modal-header modal-header--noBorder">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title modal-title--big" id="myModalLabel">Registracija</h4>
            </div>
            <div>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">{{ 'user.client'|trans }}</a></li>
                    <li><a data-toggle="tab" href="#menu1">{{ 'user.coach'|trans }}</a></li>
                </ul>

                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        {{ render(controller(
                        'FOSUserBundle:Registration:register'
                        )) }}
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        {{ render(controller(
                        'AppBundle:CoachRegistration:register'
                        )) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




