<!-- Modal -->
<div class="modal fade modal--centered in" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog--medium" role="document">
        <div class="modal-content modal-content--noBorder ">
            <div class="modal-header modal-header--noBorder">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title modal-title--big" id="myModalLabel">Registracija</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Slaptažodis">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Pakartoti slaptažodį">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg btn-block btn-block--medium">Registruotis</button>
            </div>
        </div>
    </div>
</div>