<div class="allcontain">
    <div id="carousel-up" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner " role="listbox">
            <div class="item active">
                <img src="images/football.jpeg" alt="football">
                <div class="carousel-caption">
                    <h2>Susirask bendraminčių, sportuokite kartu</h2>
                </div>
            </div>
            <div class="item">
                <img src="images/rsz_cycling.jpg" alt="bowling">
                <div class="carousel-caption">
                    <h2>Susirask bendraminčių, sportuokite kartu</h2>
                </div>
            </div>
            <div class="item">
                <img src="images/rsz_paragliding.jpg" alt="paragliding">
                <div class="carousel-caption">
                    <h2>Susirask bendraminčių, sportuokite kartu</h2>
                </div>
            </div>
        </div>
        <div class = "renderForm">
            {{ render(controller('AppBundle:sportEvent:searchEvents')) }}
        </div>
    </div>
</div>
