<header class="hero">
    <div class="carousel js-flickity">
        <div class="carousel-cell" style="background-image: url(images/football.jpeg);">
            <div class="hero-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1 class="wp1">Sport2gether header example</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-4 groupSearch groupSearch--centered">
                            <form action="">
                                {% include("inc/group_search.html.twig") %}
                            </form>
                        </div>
                    </div>
{#                     <div class="row">
                        <div class="col-md-8 col-md-offset-2 hero-intro-text wp3">
                            <p>Synthetica is a <span class="bold italic">FREE</span>, HTML5/CSS3 template available for
                                download exclusively via Codrops. </p>
                        </div>
                    </div> #}
                </div>
            </div>
        </div>
        <div class="carousel-cell" style="background-image: url(images/hero-bg-02.jpg);">
            <div class="hero-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
{#                             <h1 class="wp1">Get a head start, with the Synthetica Sketch file.</h1>
                            <a href="http://tympanus.net/codrops/?p=26570" class="btn primary wp2">Download Sketch
                                File</a> #}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 hero-intro-text wp3">
                            {# <p>Create your landing page in minutes with Synthetica's Sketch style guide.</p> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell" style="background-image: url(images/hero-bg-03.jpg);">
            <div class="hero-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {# <h1 class="wp1">Download Synthetica today, it's free forever.</h1> #}
                            {# <a href="http://tympanus.net/codrops/?p=26570" class="btn primary wp2">Download Template</a> #}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 hero-intro-text wp3">
                            {# <p>Available exclusively from Codrops.</p> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='mouse-container'>
        <a href="#intro">
            <div class='mouse'>
                <span class='scroll-down'></span>
            </div>
        </a>
    </div>
</header>