<div class="allcontain">
    <div class="footer">
        <div class="copyright">
            &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
        </div>
        <div class="atisda">
            Designed by <a href="http://www.webdomus.net/">Web Domus Italia - Web Agency </a>
        </div>
    </div>
</div>