 <div class="groupSearch__bar wp1 animated fadeInUp">
    <input class="groupSearch__input groupSearch__input--big" name="search" type="search" placeholder="" maxlength="50" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
    <a href="#" class="groupSearch__button"><i class="fa fa-search"></i></a>
</div>