<nav class="transparent user_nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center black-text">Sport2together</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse black-text hide-on-med-and-up">
            <i class="material-icons">menu</i></a>

        <ul class="left hide-on-small-and-down black-text">
            <li><a href="#"><i class="material-icons grey-text">person_pin</i></a></li>
            <li><a href="#" class="black-text"><b>Create event</b></a></li>
        </ul>
        <ul class="right hide-on-small-and-down black-text">
            <li><a href="#" class="black-text">Atsijungti</a></li>
        </ul>
        {# Side navigation #}
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#"><i class="material-icons">person_pin</i>Profile</a></li>
            <li><a href="#"><i class="material-icons">playlist_add</i>Create event</a></li>
            <li><a href="#" class="black-text">Atsijungti</a></li>
        </ul>
        </a>
    </div>
</nav>