{% extends "::basic_layout.html.twig" %}



{% block content %}

    {{ form_start(createEventForm) }}
    {{ form_widget(createEventForm) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(createEventForm) }}

{% endblock %}
