<div class="col-xs-12">
    <h1>Search for Event</h1>
    {{ form_start(eventSearchForm, {'action': path('searchEvents'), 'method': 'POST'}) }}
    {{ form_widget(eventSearchForm) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(eventSearchForm) }}
</div>


